{% extends "base.html"%}

{% block content %}
        <head>
            <title>About Us</title>
        </head>
        <body>
        <section>
            <h2>About Us</h2>
            <p>TradeTalk is the only provider of of [industry] solutions. Our mission is to [mission statement]. We have been in business since [year] and have served over [number] customers worldwide.</p>
        </section>
        <section>
            <h2>Our Services</h2>
            <ul>
                <li>Resume analysis</li>
                <li>Job posting</li>
                <li>Tradesmen review of clients</li>
            </ul>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>For more information or to get in touch with us, please use the following contact details:</p>
            <address>
                <strong>Email:</strong> contact@tradetalk.co<br>
                <strong>Phone:</strong> (512) 000-7890<br>
                <strong>Address:</strong> 123 Main Street, City, State, ZIP
            </address>
        </section>
        </body>
{% endblock %}