<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/base.css"> <!--Link CSS file-->
    </head>
        <body>
            <div class=""container>
                <header class="header">
                    {% if user.username %}
                    <h1>Welcome to Trade Talk, {{ user.username }}!</h1> 
                    {% else %}
                    <h1>Welcome to Trade Talk!</h1> 
                    {% endif %}
                    <form action="/Home_Page"> 
                        <input type="submit" value="Home" id="homeButton">
                    </form>
                    <form action="/Sign_In">  <!-- Sign In button-->
                        <input type="submit" value="Sign In" id="signInButton">
                    </form> 
                    <form action="About_Us">  <!-- About Us button-->
                        <input type="submit" value="About Us" id="aboutUsButton">
                    </form>
                    <form action="/FAQ">  <!-- Information In button-->
                        <input type="submit" value="FAQ" id="faqButton">
                    </form> 
                </header>
                <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                    {% block content %}{% endblock %}
                <footer class="footer">
                    <p>&copy; 2024 TradeTalk. All rights reserved.</p>
                </footer>
            </div>
        </body>
        </title>
    </head>
</html>