{% extends "base.html"%}

<!-- {% block content %}
    <h2>Our Services</h2>
    <p>We provide Tradepeoples a job posting board, customer reviews, and more!</p>
    <h2>Contact Us</h2>
    <p>Email: contact@tradetalk.co</p>
    <p>Phone: (512) 000-7890</p>
{% endblock %} -->



<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/home.css"> <!--Link CSS file       
</head>
<body>
    <div class="container">
        <!-- <header class="header">
            <h1>Welcome to Trade Talk!</h1> 
            <form action="/Sign_In">  <!-- Sign In button
                <input type="submit" value="Sign In" id="signInButton">
            </form> 
            <form action="About_Us">  <!-- About Us button
                <input type="submit" value="About Us" id="aboutUsButton">
            </form>
            <form action="/Info">  <!-- Information In button
                <input type="submit" value="Information" id="infoButton">
            </form> 
            <form action="/FAQ">  <!-- Information In button
                <input type="submit" value="FAQ" id="faqButton">
            </form> 
        </header>
        <div class="content">-->
            <!--<h2>About Us</h2>
            <p>TradeTalk is an online based website for companies to review clients.</p>
            <h2>Our Services</h2>
            <p>We provide Tradepeoples a job posting board, customer reviews, and more!</p>
            <h2>Contact Us</h2>
            <p>Email: contact@tradetalk.co</p>
            <p>Phone: (512) 000-7890</p>
        </div>
        <footer class="footer">
            <p>&copy; 2024 TradeTalk. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
